.scrollDelDrop {
    height: 60px;
    width: 140px;
    overflow-y: scroll;
}

.RegistrarPromocion {
    text-align: center;
}

.testImage {
    width:300px;
    height:300px;
    flex: 1;
    resize: none;
}

.labelSetting {
    font-weight: bold;
    font-size: 18px;
}
  